

.subImageBanner {
    width: 100%;
    height: auto;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.subBannerPic {
    width: 100%;
    overflow: hidden;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.subimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.noBottomMargin {
    margin-bottom: 0;
}
